:root{
    --gradient:linear-gradient(90deg, #75BAE6, #2696E9);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


*::selection{
    background:#2696E9;
    color:#fff;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
}


html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(90deg, #75BAE6, #2696E9);
}

section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}

section .heading{

    text-align: center;
    padding-bottom: 15px;
    color:#2696E9;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

section .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;

}

section .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;

}


section .box-container .box .img{
    height: 80px;
}


section .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}


section .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#2696E9;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

section .box-container .box .btn:hover{
    letter-spacing: 1px;
}

section .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}



header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}


header .happyGrade{
    color:#fff;
    font-size: 2.5rem;
}


header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}


header .navbar ul li a{
   font-size: 2rem;
    color:#ffffff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{

    color:#444;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:url(home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.home h1{
    font-family: Georgia, serif;
    font-size: 6rem;
    color:#666;
}

.home p{
    font-size: 1.9rem;
    color:#999;
    padding:1rem 0;
    width:70rem;
}

.home .shape{
    position: absolute;
    bottom:-.2rem; left: 0;
    height:15rem;
    width:100%;
    background:url(shape.png);
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2));
    animation: animate 10s linear infinite;
}

@keyframes animate{

    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: 100rem;
    }

}

.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}

.contact h3{
    color:#ffffff;
    text-align: center;

}


.contact{
    background:#111;
}

.contact .heading{
    color:#75BAE6;
}

.contact .row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row form{
    flex:1 1 50rem;
    background:#222;
    padding:2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row form .box{
    height:5rem;
    width:49%;
    border:.1rem solid #eee;
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#fff;
    background:none;
    text-transform: none;
}

.contact .row form .box:focus{
    border-color: #2696E9;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .address{
    height:15rem;
    padding:1rem;
    resize: none;
    width:100%;
}

.contact .row form .btn:hover{
    background:#fff;
    color:#333;
}

.contact .row .image img{
    height: 80vh;
    margin-top: 2rem;
}




/* media queries  */

@media (max-width:768px) {
/*if i change the screen size so it will fit*/
    html {
        font-size: 55%;
    }
    /*to display the menu bar*/
    header #menu{
        display: block;
    }

/*the navigation bars will be inside the menu when we reduce the screen size*/
    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#444;
    }



    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:#2696E9;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }




}


